<config>	
	<map LonLat="0 0" Zoom="0">  
        <BaseLayers>
            <layer name="Streets" type="tiled" 
                   url="http://localhost:8090/iserver/services/map-jingjin/rest/maps/京津地区人口分布图_专题图"/>
			<layer name="CloudLayer" type="cloud" />
        </BaseLayers>
        <Overlaps >
			<layer name="CloudLayer" type="cloud" />
		</Overlaps>
		<Controls>
			<LayerSwitcher />
			<ScaleLine />
			<OverMap />
		</Controls>
	</map>
	
	<layout>
		<title>Javascript BEV 1.0</title>
		<logo>images/logo.png</logo>
		
		// 浮动功能面板属性
		<panel id="panel" top="50px",left="50px" config="./Model/Panel.html"  position="float" /> // position="fixed"
	</layout>
</config>